* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  /* height: 100vh;
  width: 100vh; */
  margin: 0;

  display: flex;
  align-items: center;
  //justify-content: center;
  
  overflow: hidden;
}

/* Modal */

button {
  padding: 10px;
  font-size: 1.1em;
  background: #32bacf;
  color: white;
  border: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.modal-footer {
  position: absolute;
  bottom: 10px;
}

.modal-content {
  height: 100%;
  padding: 10px;
}

#modal-overlay {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 100vh;
  border-bottom: 10px;

  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  
  display: flex;
  flex-direction: column;
  padding:10px;

  word-wrap: break-word;
}


/* Model */
/* .universe {
  position: fixed;
  width: 100vw;
  height: 100vh;
} */

.universe-canvas {
  width: 100%;
  height: 100%;
}

